//мобильный адаптив
// media query
$sideNavbarDisappear: 610px;
$mobileNavbarAppear: 610px;

//padding
$sideNavbarPadding: 1.2rem;
//width
$sideNavbarWidthLg: 14rem;
$sideNavbarWidthMd: 10rem;
//icons
$sideNavbarIconSize: 1.8rem;
$sideNavbarIconPadding: 0.6rem;